<!doctype html>
<html lang="en">

<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <title>Image upload</title>
    
</head>
<body>
        <h1>Upload images/folders</h1>
    <%= typeof msg != 'undefined' ? msg : '' %>
        <form method="POST" action="/upload" enctype="multipart/form-data" name="form1">
        <input type="file" name="myImage" accept="image/*" />
        <button type="submit"> Upload </button>
    </form>
    <img src="<%= typeof file != 'undefined' ? file: '' %>" class="responsive-img" >
    <!-- Compiled and minified JavaScript -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

<html></html>